.content {
  background-color: #283234;
  width: 100vw;
  display: flex;
  color: #fafafa;
}

.column {
  flex: 1;
  margin: 2vh 2vw;
}

h2 {
  font-family: 'Mosk Bold 700';
  text-align: left;
  font-size: 3.3vw;
}

p {
  font-family: 'Mosk Light 300';
  color: #fafafa;
  text-align: left;
  font-size: 1.5vw;
  line-height: 2.2vw;
}

li {
  font-family: 'Mosk Light 300';
  color: #fafafa;
  text-align: left;
  font-size: 1.5vw;
  line-height: 2.2vw;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
}

.green {
  color: #008000;
}

.red {
  color: #cc0033;
}

.pink {
  color: #ff8da1;
}

a:link,
a:active,
a:visited {
  color: #779196;
  text-decoration: none;
}

a:hover {
  color: #778296;
  text-decoration: underline;
}
