@font-face {
  font-family: 'Mosk Light 300';
  font-style: normal;
  font-weight: normal;
  src: local('Mosk Light 300'), url('Mosk Light 300.woff') format('woff');
}

@font-face {
  font-family: 'Mosk Bold 700';
  font-style: normal;
  font-weight: normal;
  src: local('Mosk Bold 700'), url('Mosk Bold 700.woff') format('woff');
}

.App {
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: 'Mosk Light 300';
  color: #1e3845;
  background-color: #fefefe;
}
